

@tailwind base;
@tailwind components;
@tailwind utilities;
// Now you can access mixins globally


:root {
  --background: #ffffff;
  --foreground: #171717;
  --dim-card-width: 300px;
  --dim-card-height: 400px;
  --dim-card-border-radius: 16px;
  --box-shadow-card: 0 1px 12px rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: Nippo-Regular;
  src: url('./fonts/OTF/Nippo-Regular.otf'), format('truetype');
}
.music-player-button{

font-family: 'Nippo-Regular';

 ;  

}

  

  

; 
  

    .card .project-card {
      width: 100%;
      height: 100%;
      position: relative;
color: black;
 background-color: #00A3F9;

  }
  
  

  .card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

  }
  


.modal {
  position: fixed;
  z-index: 1;
  right: 0px; /* Adjust as needed */
  top: 0;
  width: 10%; /* You can adjust this as necessary */
  height: 10%; /* Ensures it covers the entire screen */
  background-color: rgba(255, 255, 255, 0.4); /* Use a semi-transparent background */
  display: flex; /* Allow flexbox properties for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.modal-open {
  opacity: 1; /* Show when modal is open */
}
