@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-container {
  perspective: 600px;
  overflow-x: scroll;
  padding: 100px 0;
  white-space: nowrap;
}

.project-stack {
  display: inline-block;
  transform: rotateY(35deg) skew(0deg);
  padding: 0  200px;
}

.project-card {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: -200px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
 
}

.project-card:hover {
  transform: translateY(-100px);

}

.project-stack:hover .project-card:not(:hover) img {
  filter: grayscale(100%) brightness(70%);
}

::-webkit-scrollbar {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  right: 0px; /* Adjust as needed */
  top: 0;
  width: 10%; /* You can adjust this as necessary */
  height: 10%; /* Ensures it covers the entire screen */
  background-color: rgba(255, 255, 255, 0.4); /* Use a semi-transparent background */
  display: flex; /* Allow flexbox properties for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.modal-open {
  opacity: 1; /* Show when modal is open */
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade-down {
  animation: fade-down 0.3s ease forwards;
}

.animate-fade-out {
  animation: fade-out 0.3s ease forwards;
}
