@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-container {
  perspective: 600px;
  overflow-x: scroll;
  padding: 100px 0;
  white-space: nowrap;
}

.project-stack {
  display: inline-block;
  transform: rotateY(35deg) skew(0deg);
  padding: 0  200px;
}

.project-card {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: -200px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 
}

.project-card:hover {
  transform: translateY(-100px);

}

.project-stack:hover .project-card:not(:hover) img {
  filter: grayscale(100%) brightness(70%);
}

::-webkit-scrollbar {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0px;;
  
  top: 0;
  width: 30%;
  height: 30%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #000000;
  margin: 15% auto;
 
  border: 1px solid #ab3131;
  width: 80%;
  max-width: 600px;
}
